In [28]:
import pandas as pd
import numpy as np
bd = pd.read_csv('dano.csv',on_bad_lines='warn', delimiter=';')

In [29]:
db_valid_type

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count,k
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,2,0.0
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,2,13.0
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,2,10.0
8,186546,210358,29.10.2022,67.0,36.0,CL,27.0,46.0,M,1,...,209962,29.10.2022 10:00,"1-CL, 2-CLC, 3-CLР",To CLC,67.0,36.0,0.199,1,2,2.0
20,108217,100683,25.09.2021,183.0,60.0,CL,40.0,44.0,M,1,...,100293,25.09.2021 14:28,"1-CL, 2-CLC, 3-CLР",To CLC,NaN,NaN,NaN,0,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225928,199442,155308,28.02.2022,500.0,36.0,CL,83.0,60.0,M,0,...,155326,01.03.2022 23:42,"1-CLР, 2-CC",To CLR,NaN,NaN,NaN,0,1,6.0
225929,157176,188619,29.08.2022,100.0,36.0,CL,20.0,26.0,M,1,...,188081,29.08.2022 19:59,"1-CLР, 2-CLC",To CLC,NaN,NaN,NaN,0,1,5.0
225939,58443,88884,25.08.2021,50.0,24.0,CL,27.0,37.0,F,0,...,88408,25.08.2021 11:13,"1-CLР, 2-CLC",To CLC,67.0,60.0,0.109,1,2,2.0
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,1,13.0
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,2,4.0

In [30]:
applications = bd.groupby('application_id').size()
applications.name = 'count'
applications

application_id
1         1
2         2
4         2
6         1
7         1
         ..
225950    1
225951    1
225952    1
225953    1
225954    1
Name: count, Length: 211004, dtype: int64

In [31]:
bd = bd.join(applications, on='application_id', how='left')
bd

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,cc_approve_amt,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,47.0,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,2
1,140628,11996,11.05.2021,67.0,24.0,CL,33.0,34.0,M,1,...,NaN,17424,18.05.2021 21:09,1-CLC,CLC,67.0,24.0,0.102,1,2
2,122414,34857,05.06.2021,500.0,60.0,CL,27.0,53.0,F,1,...,47.0,33799,05.06.2021 05:41,"1-CL, 2-CLР, 3-CC",CL,100.0,36.0,0.241,1,1
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,NaN,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,2
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,8.0,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,202717,92220,02.09.2021,100.0,36.0,CL,50.0,46.0,M,0,...,47.0,91738,02.09.2021 20:56,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,1
225950,169066,116340,09.11.2021,67.0,120.0,CL,10.0,35.0,M,0,...,2.0,115937,09.11.2021 14:32,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,1
225951,80373,125224,02.12.2021,167.0,36.0,CL,13.0,44.0,M,1,...,27.0,124981,03.12.2021 10:28,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.171,1,1
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,NaN,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,1
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,25.0,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,2

In [34]:
bd['k'] = bd['req_amt']/bd['monthly_income_amt']
bd = bd.round({'k' : 0})
bd['k'] = bd['k'].fillna(0)
bd['k'] = bd['k'].apply(lambda x: min(x, 13.0))
bd

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count,k
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,2,0.0
1,140628,11996,11.05.2021,67.0,24.0,CL,33.0,34.0,M,1,...,17424,18.05.2021 21:09,1-CLC,CLC,67.0,24.0,0.102,1,2,2.0
2,122414,34857,05.06.2021,500.0,60.0,CL,27.0,53.0,F,1,...,33799,05.06.2021 05:41,"1-CL, 2-CLР, 3-CC",CL,100.0,36.0,0.241,1,1,13.0
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,2,13.0
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,202717,92220,02.09.2021,100.0,36.0,CL,50.0,46.0,M,0,...,91738,02.09.2021 20:56,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,1,2.0
225950,169066,116340,09.11.2021,67.0,120.0,CL,10.0,35.0,M,0,...,115937,09.11.2021 14:32,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,1,7.0
225951,80373,125224,02.12.2021,167.0,36.0,CL,13.0,44.0,M,1,...,124981,03.12.2021 10:28,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.171,1,1,13.0
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,1,13.0
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,2,4.0

In [35]:
db_valid_type = bd.drop(bd[bd.agreement_product_code.isin(["CC", "CL", "CLR", "CLC", "Unsuccess"])].index)
db_valid_type

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count,k
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,2,0.0
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,2,13.0
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,2,10.0
8,186546,210358,29.10.2022,67.0,36.0,CL,27.0,46.0,M,1,...,209962,29.10.2022 10:00,"1-CL, 2-CLC, 3-CLР",To CLC,67.0,36.0,0.199,1,2,2.0
20,108217,100683,25.09.2021,183.0,60.0,CL,40.0,44.0,M,1,...,100293,25.09.2021 14:28,"1-CL, 2-CLC, 3-CLР",To CLC,NaN,NaN,NaN,0,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225928,199442,155308,28.02.2022,500.0,36.0,CL,83.0,60.0,M,0,...,155326,01.03.2022 23:42,"1-CLР, 2-CC",To CLR,NaN,NaN,NaN,0,1,6.0
225929,157176,188619,29.08.2022,100.0,36.0,CL,20.0,26.0,M,1,...,188081,29.08.2022 19:59,"1-CLР, 2-CLC",To CLC,NaN,NaN,NaN,0,1,5.0
225939,58443,88884,25.08.2021,50.0,24.0,CL,27.0,37.0,F,0,...,88408,25.08.2021 11:13,"1-CLР, 2-CLC",To CLC,67.0,60.0,0.109,1,2,2.0
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,1,13.0
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,2,4.0

In [36]:
db_valid_type.pivot_table(index=['k'], columns=['count'], aggfunc='count', values=['application_id'])

      application_id
count              1     2
k
0.0              865   637
1.0             2111  3098
2.0             2017  2822
3.0             1428  1827
4.0             1168  1426
5.0              897  1026
6.0              763   775
7.0              691   620
8.0              531   437
9.0              348   230
10.0             457   363
11.0             253   166
12.0             291   179
13.0            1947  1344

In [37]:
bits = bd.drop(bd[bd.agreement_product_code.isin(["CC", "To CLR", "To CLC", "Unsuccess"])].index)
bits

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count,k
1,140628,11996,11.05.2021,67.0,24.0,CL,33.0,34.0,M,1,...,17424,18.05.2021 21:09,1-CLC,CLC,67.0,24.0,0.102,1,2,2.0
2,122414,34857,05.06.2021,500.0,60.0,CL,27.0,53.0,F,1,...,33799,05.06.2021 05:41,"1-CL, 2-CLР, 3-CC",CL,100.0,36.0,0.241,1,1,13.0
6,50471,147808,08.02.2022,117.0,36.0,CL,23.0,42.0,M,1,...,147589,08.02.2022 10:52,"1-CL, 2-CLР",CL,133.0,60.0,0.175,1,1,5.0
9,79792,17859,18.05.2021,167.0,36.0,CL,33.0,37.0,M,1,...,17014,18.05.2021 13:58,"1-CL, 2-CLР",CL,57.0,36.0,0.211,1,1,5.0
11,60273,37329,08.06.2021,50.0,60.0,CL,12.0,36.0,F,0,...,36521,08.06.2021 10:53,"1-CL, 2-CLР, 3-CC",CL,60.0,36.0,0.139,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225922,157135,44509,16.06.2021,83.0,36.0,CL,28.0,50.0,F,1,...,43512,16.06.2021 18:35,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.169,1,1,3.0
225934,38836,38055,08.06.2021,120.0,36.0,CL,16.0,53.0,M,1,...,37089,08.06.2021 17:38,"1-CL, 2-CLР, 3-CC",CL,39.0,36.0,0.211,0,1,8.0
225935,204849,51648,26.06.2021,167.0,36.0,CL,20.0,46.0,M,0,...,51038,26.06.2021 19:32,"1-CL, 2-CLР",CL,110.0,36.0,0.169,1,1,8.0
225947,42140,11518,11.05.2021,500.0,60.0,CL,57.0,41.0,M,1,...,10781,11.05.2021 10:51,"1-CL, 2-CLР",CL,86.0,36.0,0.211,1,1,9.0
225951,80373,125224,02.12.2021,167.0,36.0,CL,13.0,44.0,M,1,...,124981,03.12.2021 10:28,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.171,1,1,13.0

In [38]:
bits.pivot_table(index=['age'], columns=['agreement_product_code'], aggfunc='mean', values=['account_rate'])

                       account_rate
agreement_product_code           CL       CLC       CLR
age
19.0                       0.315909  0.236500  0.273000
20.0                       0.309895  0.211091  0.218750
21.0                       0.264548  0.174722  0.146250
22.0                       0.252793  0.174451  0.174222
23.0                       0.239822  0.171389  0.169885
24.0                       0.235411  0.162604  0.164031
25.0                       0.227163  0.156407  0.151000
26.0                       0.218005  0.155347  0.177526
27.0                       0.219249  0.153355  0.166585
28.0                       0.218982  0.156601  0.159915
29.0                       0.213805  0.157820  0.162710
30.0                       0.209542  0.152449  0.153578
31.0                       0.210548  0.154907  0.160975
32.0                       0.206943  0.152137  0.156790
33.0                       0.203636  0.153638  0.154870
34.0                       0.201440  0.153358  0.148171
35.0                       0.200673  0.154451  0.159039
36.0                       0.197620  0.156216  0.154299
37.0                       0.197701  0.154482  0.159800
38.0                       0.198370  0.156649  0.158116
39.0                       0.199469  0.151860  0.152692
40.0                       0.197459  0.152131  0.144831
41.0                       0.193983  0.150825  0.148341
42.0                       0.196033  0.156839  0.145283
43.0                       0.195933  0.155385  0.146444
44.0                       0.195500  0.156563  0.144818
45.0                       0.193880  0.151554  0.157140
46.0                       0.193408  0.148842  0.155000
47.0                       0.197518  0.155183  0.156841
48.0                       0.199731  0.153995  0.155421
49.0                       0.196089  0.152164  0.151656
50.0                       0.199910  0.154112  0.135187
51.0                       0.194210  0.159405  0.149105
52.0                       0.193876  0.158313  0.167071
53.0                       0.200591  0.155717  0.145227
54.0                       0.201347  0.152903  0.155462
55.0                       0.201990  0.150745  0.150556
56.0                       0.197486  0.147030  0.154533
57.0                       0.198567  0.157295  0.161500
58.0                       0.195509  0.161536  0.152762
59.0                       0.203129  0.156100  0.122000
60.0                       0.205753  0.155712  0.150308
61.0                       0.196005  0.150594  0.164308
62.0                       0.192600  0.141765  0.114800
63.0                       0.199152  0.153938  0.142200
64.0                       0.196109  0.158341  0.161667
65.0                       0.208441  0.158333  0.146500
66.0                       0.198556  0.132743  0.132800
67.0                       0.206167  0.154714  0.181857
68.0                       0.211855  0.152824  0.166000
69.0                       0.198957  0.145833  0.185000
70.0                       0.190111  0.184600  0.075000
71.0                       0.182286  0.096250       NaN
72.0                       0.171000       NaN       NaN
73.0                       0.296000       NaN       NaN