In [119]:
import pandas as pd
import numpy as np
bd = pd.read_csv('dano.csv',on_bad_lines='warn', delimiter=';')

In [65]:
bd.sort_values('customer_id').pivot_table(values='account_rate', index=["age"], columns=["agreement_product_code"], aggfunc="mean")

agreement_product_code        CL       CLC       CLR    To CLC    To CLR
age
19.0                    0.315909  0.236500  0.273000  0.236500  0.273000
20.0                    0.309895  0.211091  0.218750  0.211091  0.218750
21.0                    0.264548  0.174722  0.146250  0.174722  0.168667
22.0                    0.252793  0.174451  0.174222  0.174451  0.174222
23.0                    0.239822  0.171389  0.169885  0.171389  0.176481
24.0                    0.235411  0.162604  0.164031  0.162604  0.166441
25.0                    0.227163  0.156407  0.151000  0.157146  0.152814
26.0                    0.218005  0.155347  0.177526  0.155877  0.179169
27.0                    0.219249  0.153355  0.166585  0.153967  0.168833
28.0                    0.218982  0.156601  0.159915  0.156490  0.164818
29.0                    0.213805  0.157820  0.162710  0.158289  0.162810
30.0                    0.209542  0.152449  0.153578  0.152874  0.155061
31.0                    0.210548  0.154907  0.160975  0.155396  0.160975
32.0                    0.206943  0.152137  0.156790  0.152373  0.156328
33.0                    0.203636  0.153638  0.154870  0.153782  0.157315
34.0                    0.201440  0.153358  0.148171  0.153781  0.149532
35.0                    0.200673  0.154451  0.159039  0.155062  0.160474
36.0                    0.197620  0.156216  0.154299  0.157780  0.156903
37.0                    0.197701  0.154482  0.159800  0.155637  0.160457
38.0                    0.198370  0.156649  0.158116  0.157056  0.159712
39.0                    0.199469  0.151860  0.152692  0.152719  0.152913
40.0                    0.197459  0.152131  0.144831  0.153136  0.144742
41.0                    0.193983  0.150825  0.148341  0.151107  0.147787
42.0                    0.196033  0.156839  0.145283  0.157448  0.149021
43.0                    0.195933  0.155385  0.146444  0.155832  0.149429
44.0                    0.195500  0.156563  0.144818  0.157435  0.148870
45.0                    0.193880  0.151554  0.157140  0.152238  0.158967
46.0                    0.193408  0.148842  0.155000  0.148807  0.155292
47.0                    0.197518  0.155183  0.156841  0.156044  0.157778
48.0                    0.199731  0.153995  0.155421  0.155087  0.154375
49.0                    0.196089  0.152164  0.151656  0.152711  0.152182
50.0                    0.199910  0.154112  0.135187  0.154896  0.141444
51.0                    0.194210  0.159405  0.149105  0.160092  0.151737
52.0                    0.193876  0.158313  0.167071  0.158589  0.166103
53.0                    0.200591  0.155717  0.145227  0.156526  0.147792
54.0                    0.201347  0.152903  0.155462  0.153518  0.156556
55.0                    0.201990  0.150745  0.150556  0.151652  0.156619
56.0                    0.197486  0.147030  0.154533  0.147526  0.155438
57.0                    0.198567  0.157295  0.161500  0.157899  0.167353
58.0                    0.195509  0.161536  0.152762  0.161284  0.155818
59.0                    0.203129  0.156100  0.122000  0.159536  0.122000
60.0                    0.205753  0.155712  0.150308  0.156571  0.150308
61.0                    0.196005  0.150594  0.164308  0.153897  0.171214
62.0                    0.192600  0.141765  0.114800  0.141765  0.114800
63.0                    0.199152  0.153938  0.142200  0.154457  0.139182
64.0                    0.196109  0.158341  0.161667  0.159488  0.161667
65.0                    0.208441  0.158333  0.146500  0.155483  0.153182
66.0                    0.198556  0.132743  0.132800  0.134182  0.132800
67.0                    0.206167  0.154714  0.181857  0.150346  0.181857
68.0                    0.211855  0.152824  0.166000  0.150667  0.185000
69.0                    0.198957  0.145833  0.185000  0.162286  0.185000
70.0                    0.190111  0.184600  0.075000  0.184600  0.075000
71.0                    0.182286  0.096250       NaN  0.096250       NaN
72.0                    0.171000       NaN       NaN       NaN       NaN
73.0                    0.296000       NaN       NaN       NaN       NaN

In [71]:
db_valid_type = bd.drop(bd[bd.agreement_product_code.isin(["CC", "CL", "CLR", "CLC", "Unsuccess"])].index)
len(db_valid_type)

28717

In [72]:
db_valid_type

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,clr_rate,cc_approve_amt,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,0.169,47.0,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,0.176,NaN,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,0.171,8.0,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0
8,186546,210358,29.10.2022,67.0,36.0,CL,27.0,46.0,M,1,...,0.270,NaN,209962,29.10.2022 10:00,"1-CL, 2-CLC, 3-CLР",To CLC,67.0,36.0,0.199,1
20,108217,100683,25.09.2021,183.0,60.0,CL,40.0,44.0,M,1,...,0.176,NaN,100293,25.09.2021 14:28,"1-CL, 2-CLC, 3-CLР",To CLC,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225928,199442,155308,28.02.2022,500.0,36.0,CL,83.0,60.0,M,0,...,0.293,33.0,155326,01.03.2022 23:42,"1-CLР, 2-CC",To CLR,NaN,NaN,NaN,0
225929,157176,188619,29.08.2022,100.0,36.0,CL,20.0,26.0,M,1,...,0.207,NaN,188081,29.08.2022 19:59,"1-CLР, 2-CLC",To CLC,NaN,NaN,NaN,0
225939,58443,88884,25.08.2021,50.0,24.0,CL,27.0,37.0,F,0,...,0.169,NaN,88408,25.08.2021 11:13,"1-CLР, 2-CLC",To CLC,67.0,60.0,0.109,1
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,0.207,NaN,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,0.270,25.0,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1

In [54]:
len(bd)

225954

In [97]:
applications = bd.groupby('application_id').size()
applications

application_id
1         1
2         2
4         2
6         1
7         1
         ..
225950    1
225951    1
225952    1
225953    1
225954    1
Length: 211004, dtype: int64

In [104]:
bd.insert()
bd

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,cc_approve_amt,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,47.0,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,2
1,140628,11996,11.05.2021,67.0,24.0,CL,33.0,34.0,M,1,...,NaN,17424,18.05.2021 21:09,1-CLC,CLC,67.0,24.0,0.102,1,2
2,122414,34857,05.06.2021,500.0,60.0,CL,27.0,53.0,F,1,...,47.0,33799,05.06.2021 05:41,"1-CL, 2-CLР, 3-CC",CL,100.0,36.0,0.241,1,1
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,NaN,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,2
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,8.0,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,202717,92220,02.09.2021,100.0,36.0,CL,50.0,46.0,M,0,...,47.0,91738,02.09.2021 20:56,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,1
225950,169066,116340,09.11.2021,67.0,120.0,CL,10.0,35.0,M,0,...,2.0,115937,09.11.2021 14:32,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,1
225951,80373,125224,02.12.2021,167.0,36.0,CL,13.0,44.0,M,1,...,27.0,124981,03.12.2021 10:28,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.171,1,1
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,NaN,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,1
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,25.0,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,2

In [121]:
bd['k'] = bd['req_amt']/bd['monthly_income_amt']
bd = bd.round({'k' : 0})
bd

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,cc_approve_amt,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,k
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,47.0,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,0.0
1,140628,11996,11.05.2021,67.0,24.0,CL,33.0,34.0,M,1,...,NaN,17424,18.05.2021 21:09,1-CLC,CLC,67.0,24.0,0.102,1,2.0
2,122414,34857,05.06.2021,500.0,60.0,CL,27.0,53.0,F,1,...,47.0,33799,05.06.2021 05:41,"1-CL, 2-CLР, 3-CC",CL,100.0,36.0,0.241,1,19.0
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,NaN,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,14.0
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,8.0,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,202717,92220,02.09.2021,100.0,36.0,CL,50.0,46.0,M,0,...,47.0,91738,02.09.2021 20:56,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,2.0
225950,169066,116340,09.11.2021,67.0,120.0,CL,10.0,35.0,M,0,...,2.0,115937,09.11.2021 14:32,"1-CLР, 2-CC",Unsuccess,NaN,NaN,NaN,0,7.0
225951,80373,125224,02.12.2021,167.0,36.0,CL,13.0,44.0,M,1,...,27.0,124981,03.12.2021 10:28,"1-CL, 2-CLР, 3-CC",CL,159.0,36.0,0.171,1,13.0
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,NaN,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,25.0
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,25.0,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,4.0

In [112]:
db_valid_type = bd.drop(bd[bd.agreement_product_code.isin(["CC", "CL", "CLR", "CLC", "Unsuccess"])].index)
db_valid_type

,customer_id,application_id,application_dttm,req_amt,req_term,req_product_code,monthly_income_amt,age,gender_code,car_flg,...,agreement_id,agreement_dttm,product_sale_priority,agreement_product_code,account_amt,account_term,account_rate,success_activate_flg,count,k
0,39699,1428,06.04.2021,17.0,36.0,CL,73.0,34.0,F,1,...,1195,06.04.2021 15:41,"CLC,CLР,CC",To CLC,57.0,60.0,0.109,1,2,0.232877
3,40378,94446,08.09.2021,100.0,36.0,CL,7.0,28.0,F,1,...,94123,08.09.2021 19:46,"1-CLР, 2-CLC",To CLC,70.0,36.0,0.105,0,2,14.285714
4,161689,116692,10.11.2021,100.0,60.0,CL,10.0,41.0,M,1,...,116232,10.11.2021 11:10,"1-CLC, 2-CLР, 3-CC",To CLC,53.0,60.0,0.172,0,2,10.000000
8,186546,210358,29.10.2022,67.0,36.0,CL,27.0,46.0,M,1,...,209962,29.10.2022 10:00,"1-CL, 2-CLC, 3-CLР",To CLC,67.0,36.0,0.199,1,2,2.481481
20,108217,100683,25.09.2021,183.0,60.0,CL,40.0,44.0,M,1,...,100293,25.09.2021 14:28,"1-CL, 2-CLC, 3-CLР",To CLC,NaN,NaN,NaN,0,1,4.575000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225928,199442,155308,28.02.2022,500.0,36.0,CL,83.0,60.0,M,0,...,155326,01.03.2022 23:42,"1-CLР, 2-CC",To CLR,NaN,NaN,NaN,0,1,6.024096
225929,157176,188619,29.08.2022,100.0,36.0,CL,20.0,26.0,M,1,...,188081,29.08.2022 19:59,"1-CLР, 2-CLC",To CLC,NaN,NaN,NaN,0,1,5.000000
225939,58443,88884,25.08.2021,50.0,24.0,CL,27.0,37.0,F,0,...,88408,25.08.2021 11:13,"1-CLР, 2-CLC",To CLC,67.0,60.0,0.109,1,2,1.851852
225952,588,195337,17.09.2022,667.0,36.0,CL,27.0,45.0,F,1,...,194867,17.09.2022 16:33,"1-CL, 2-CLР",To CLR,NaN,NaN,NaN,0,1,24.703704
225953,217428,219053,17.11.2022,500.0,60.0,CL,117.0,26.0,M,1,...,220463,21.11.2022 11:10,"1-CL, 2-CLР, 3-CC",To CLR,669.0,60.0,0.283,1,2,4.273504

In [114]:
db_valid_type.pivot_table(index=['k'], columns=['count'], aggfunc='count', values=['count'])

ValueError: Grouper for 'count' not 1-dimensional